.header,
.header__wrapper,
.header__wrapper-inner,
.header__adress,
.header__time,
.header__logo-wrapper,
.header__nav-list,
.header__nav-list-item {
  @include reset;
}

.header__nav-burger {
  display: none;
}

.header,
.header__wrapper {
  width: 100%;
  color: $dark;
  font-family: $font;
}

.header__wrapper--red {
  display: flex;
  box-sizing: border-box;
  background-color: $red;
  color: #ffffff;
  min-height: 40px;
}

.header__wrapper--white {
  min-height: 106px;
  display: flex;
  justify-content: flex-start;
}

.header__wrapper-inner {
  box-sizing: border-box;
  max-width: $max-width;
  width: $max-width;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 1%;
}

.header__adress,
.header__time {
  display: flex;
  font-size: 15px;
  min-height: 40px;
  align-items: center;
}

.header__adress {
  width: 240px;
  border-right: 1px solid #ffffff;
}

.header__time {
  padding-left: 36px;
}

.header__phone {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}

.header__phone::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background-image: url("../img/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.header__basket,
.header__registration {
  color: $dark;
  text-decoration: none;
}

.header__registration {
  text-transform: uppercase;
}

.header__logo-wrapper {
  box-sizing: border-box;
  min-width: 241px;
  padding-top: 22px;
  height: 100%;
  border-right: 1px solid $red;
}

.header__logo-link,
.header__logo-link img {
  &:hover {
    cursor: pointer;
  }
}

.header__description {
  @include reset;
  width: 170px;
  padding-left: 3.5%;
  font-size: 18px;
  line-height: 1.4;
  padding-top: 15px;
}

.header__description span {
  color: $red;
}

.header__search {
  display: flex;
  flex-direction: column;
  width: 27.4%;
  margin-left: 25px;
  position: relative;
  padding-top: 20px;
}

.header__search input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  min-height: 33px;
  border: 1px solid $dark;
  padding: 0 40px;

  &:hover,
  &:focus {
    border: 1px solid $red;
  }
}

.header__search::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: 5px;
  background-image: url("../img/icon-gears.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.header__search::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20;
  right: 1px;
  background-image: url("../img/find.png");
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.header__basket {
  margin-left: 5%;
  margin-right: 1%;
  position: relative;
  padding-top: 30px;

  &:hover {
    color: $red;
  }
}

.header__basket::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 27px;
  left: -22px;
  background-image: url("../img/icon-basket.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.header__registration {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 195px;
  margin-left: auto;
  font-size: 15px;
  padding-top: 31px;
}

.header__login {
  text-decoration: none;
  color: $dark;

  &:hover {
    cursor: pointer;
    color: $red;
  }
}

.header__registration-link {
  text-decoration: none;
  color: $dark;
  position: relative;
  font-weight: 700;

  &:hover {
    color: $red;
  }
}

.header__registration-link::before {
  content: "";
  width: 1px;
  height: 33px;
  background-color: $red;
  position: absolute;
  top: -10px;
  left: -20px;
}

.header__nav {
  @include reset;
  box-sizing: border-box;
  width: 100%;
  background-color: $blue;
  padding: 0 1%;
}

.header__nav-phone {
  display: none;
}

.header__nav-list {
  @include reset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1170px;
  min-height: 63px;
  margin: 0 auto;
}

.header__nav-list-item {
  list-style: none;
  font-size: 15px;
  box-sizing: border-box;
  width: 150px;
  padding-left: 50px;
}

.header__nav-list-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  position: relative;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__nav-list-link--catalog::before {
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  left: -50px;
  margin-right: 10px;
  background-image: url("../img/icon-folder.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list-link--private::before {
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  left: -50px;
  margin-right: 10px;
  background-image: url("../img/icon-customer.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list-link--wholesale::before {
  content: "";
  width: 62px;
  height: 52px;
  display: inline-block;
  position: absolute;
  left: -60px;
  margin-right: 10px;
  background-image: url("../img/icon-truck.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list-link--suppliers::before {
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  left: -50px;
  margin-right: 10px;
  background-image: url("../img/icon-suppliers.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list-link--contacts::before {
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  left: -55px;
  margin-right: 10px;
  background-image: url("../img/icon-mail.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list-link--personal::before {
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  left: -50px;
  margin-right: 10px;
  background-image: url("../img/icon-home.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: $tablet) {
  .header__description,
  .header__basket span,
  .header__registration-link::before {
    display: none;
  }

  .header__search {
    width: 45%;
  }

  .header__registration {
    width: 120px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-top: 15px;
  }

  .header__login {
    margin-bottom: 5px;
    text-align: right;
  }

  .header__registration {
    text-align: right;
  }

  .header__phone {
    font-size: 15px;
  }

  .header__phone::before {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
  }

  .header__nav {
    padding: 0;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__nav-burger {
    box-sizing: border-box;
    padding-left: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: darken($blue, 15);
  }

  .header__nav-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #ffffff;
    padding: 0 55px;
  }

  .header__nav-list-item:last-of-type {
    border-bottom: none;
  }
}

@media (max-width: $mobile) {
  .header__nav-phone {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
  }

  .header__nav-phone::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-image: url("../img/icon-phone.svg");
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
    }
  }

  .header__phone {
    display: none;
  }

  .header__search {
    width: 35%;
  }

  .header__basket {
    margin-left: auto;
    margin-right: 10px;
  }

  .header__registration {
    @include reset;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .header__login,
  .header__registration-link {
    &:hover {
      color: #ffffff;
    }
  }

  .header__wrapper--white {
    min-height: 70px;
  }

  .header__logo-wrapper {
    min-width: 135px;
    min-height: 50px;
  }

  .header__logo-link img {
    width: 120px;
    height: auto;
  }

  .header__adress,
  .header__time {
    @include reset;
    width: 100%;
    border: none;
    font-size: 12px;
    min-height: 20px;
  }

  .header__wrapper--contacts {
    flex-direction: column;
  }
}

