.main,
.main h2 {
  @include reset;
}

.main {
  width: 100%;
  padding-top: 30px;
  font-family: $gotham;
}

.main h2 {
  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main h2:before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 10px;
  margin-right: 10px;
  background-image: url("../img/logo-small.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main__container {
  max-width: 1170px;
  margin: 0 auto;
}

.main__wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  overflow-x: hidden;
}

.main__items {
  border-bottom: 8px solid #c6e2ff;
}

.main__items-header {
  @include reset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 35px;
  background-color: #c6e2ff;
}

.main__items-header {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 33px;
  margin-bottom: 35px;
}

.main__items-header-item {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
}

.main__items-header-item--number,
.main__item-wrapper-number {
  width: (135 / 1140) * 100%;
}

.main__items-header-item--name,
.main__item-wrapper-name {
  width: (360 / 1140) * 100%;
}

.main__items-header-item--info,
.main__item-wrapper-info {
  width: (270 / 1140) * 100%;
}

.main__items-header-item--action,
.main__item-wrapper-actions {
  width: (158 / 1140) * 100%;
}

.main__items-header-item--amount,
.main__item-wrapper-amount {
  width: (145 / 1140) * 100%;
}

.main__items-header-item--price,
.main__item-wrapper-price {
  width: (80 / 1140) * 100%;
  text-align: right;
}

.main__items {
  @include reset;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main__item {
  display: flex;
  padding-bottom: 17px;
  padding-top: 19px;
  border-bottom: 1px solid #c6e2ff;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 33px;
}

.main__item:first-of-type {
  padding-top: 0;
}

.main__item:last-of-type {
  border-bottom: none;
}

.main__item-wrapper-name,
.main__item-wrapper-number,
.main__item-wrapper-info,
.main__item-wrapper-actions,
.main__item-wrapper-amount,
.main__item-wrapper-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main__item-wrapper-number img {
  margin-bottom: 5px;
}

.main__item-wrapper-number span {
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  color: $blue;
  text-align: left;
}

.main__item-wrapper-inner {
  margin-bottom: 9px;
}

.main__item-brand,
.main__item-type {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

.main__item-type--original {
  color: $blue;
}

.main__item-type--not-original {
  color: $red;
}

.main__item-wrapper-name p {
  @include reset;
  width: 90%;
  font-size: 14px;
  margin-bottom: 16px;
}

.main__input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 90%;
}

.main__item-wrapper-name label {
  font-size: 12px;
  line-height: 2;
  color: $blue;
  margin-right: 8px;
}

.main__item-wrapper-name input[type="text"] {
  box-sizing: border-box;
  width: 82%;
  min-height: 28px;
  border: 1px solid #c6e2ff;
  border-radius: 25px;

  &:hover,
  &:focus {
    border: 1px solid $blue;
  }
}

.main__parts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

.main__signals {
  width: 54px;
  height: 16px;
  background-image: url("../img/green-round.svg"), url("../img/green-round.svg"), url("../img/green-round.svg");
  background-repeat: no-repeat;
  background-position: left center, left 18px center, left 36px center;
  margin-bottom: 5px;
}

.main__waiting {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  margin-bottom: 5px;
}

.main__actuality {
  font-size: 12px;
}

.main__item-wrapper-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__item-checkbox-wrapper {
  font-size: 14px;
  margin-top: 13px;
}

.main__item-checkbox-wrapper input {
  margin-right: 12px;
}

.main__item-wrapper-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
}

.main__item-wrapper-amount input[type="number"] {
  width: 109px;
  height: 28px;
  border: 1px solid #c6e2ff;
  border-radius: 28px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    border: 1px solid $blue;
  }
}

.main__buttons-wrapper {
  display: flex;
}

.main__item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 26px;
  border: none;
  margin: 0 2px;
  font-size: 30px;
  color: #ffffff;
  outline: none;

  &:hover {
    cursor: pointer;
    outline: 1px solid darken($blue, 15);
    color: darken($blue, 15);
  }

  &:active {
    opacity: 0.2;
  }
}

.main__item-button span {
  position: relative;
  top: -8px;
}

.main__item-button--minus {
  background-color: #c6e2ff;
}

.main__item-button--plus {
  background-color: $blue;
}

.main__item-wrapper-price {
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: $blue;
}

.main__item-wrapper-price span {
  margin-top: 15px;
  position: relative;
  left: 25px;
}

.main__lower-price {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.main__lower-price span {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  color: $blue;
}

.main__lower-price-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 130px;
  background-color: $red;
  min-height: 28px;
  border-radius: 28px;
  padding-left: 3px;
  position: relative;
  margin-left: 15px;
}

.main__lower-price-wrapper input[type="checkbox"]{
  width: 18px;
  height: 18px;
  border-radius: 18px;
}

.main__lower-price-wrapper span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #ffffff;
  position: relative;
  top: -3px;
  left: 21px;
}

.main__attention {
  @include reset;

  font-size: 12px;
  font-weight: 500;
  color: $red;
  word-break: break-all;
  position: relative;
  top: 10px;
}

@media (max-width: $tablet) {
  .main h2 {
    padding-left: 10px;
  }
  .main__items {
    padding-bottom: 20px;
  }

  .main__items-header {
    padding: 0 10px;
  }

  .main__item {
    padding: 5px 10px;
  }

  .main__items-header-item--action,
  .main__item-wrapper-actions {
    display: none;
  }

  .main__item-wrapper-name,
  .main__items-header-item--name {
    width: 50%;
    padding-left: 10px;
  }

  .main__item-wrapper-amount input[type=number] {
    width: 70px;
  }

  .main__item-wrapper-amount {
    margin-left: auto;
  }

  .main__item-wrapper-price {
    width: 50px;
    margin-left: 10px;
  }

  .main__item-wrapper-price span {
    left: 0;
  }

  .main__item-button {
    box-sizing: border-box;
    width: 30px;
    height: 20px;
  }

  .main__item-button span {
    font-size: 24px;
  }

  .main__items-header-item--amount {
    position: relative;
    left: -5px;
  }

  .main__items-header-item--info {
    position: relative;
    left: -6px;
  }
}

@media (max-width: $mobile) {
  .main__wrapper,
  .main__items-header {
    padding: 0;
  }

  .main__item-wrapper-price {
    display: none;
  }

  .main__items-header {
    margin-bottom: 20px;
    min-height: 8px;
  }

  .main__items-header-item {
    display: none;
  }

  .main__item {
    flex-wrap: wrap;
    padding-left: 95px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .main__item-wrapper-name {
    flex-grow: 1;
    width: 65%;
    padding-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed $blue;
  }

  .main__item-wrapper-number span {
    font-size: 10px;
  }

  .main__item-wrapper-inner,
  .main__item-wrapper-name p {
    font-size: 12px;
  }

  .main__item-wrapper-name p,
  .main__input-wrapper {
    width: 100%;
  }

  .main__item-wrapper-number {
    min-width: 60px;
    margin-right: 10px;
    order: 4;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .main__item-type,
  .main__item-brand {
    font-size: 12px;
  }

  .main__item-wrapper-info {
    width: 100%;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px dashed $blue;
  }

  .main__item-wrapper-amount {
    margin-left: 0;
    width: 100%;
  }

  .main__item-wrapper-amount input[type=number] {
    width: 100%;
  }

  .main__buttons-wrapper {
    width: 100%;
  }

  .main__item-button {
    width: 50%;
  }

  .main__lower-price-wrapper {
    margin-left: 5px;
  }

  .main__lower-price-wrapper span {
    font-size: 9.5px;
  }

  .main__lower-price span {
    font-size: 10px;
  }
}
